flows.json
[
    {
        "id": "55a762ae72fa441b",
        "type": "tab",
        "label": "Main Game Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47c0e0ae667846a9",
        "type": "tab",
        "label": "Field Nodes Config / Debug",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "175af8efcea2d591",
        "type": "tab",
        "label": "Field Status Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f035102302ba5a",
        "type": "tab",
        "label": "Bldg / FS Callbacks",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6a070793fb470a03",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "e1ba7bc1352dbb74",
            "5725302ea02fb9eb",
            "ff606f8c806a3eac",
            "28a544304a1e4303",
            "b52637f4da03c425",
            "a3b9dda68a07d22c",
            "0941e20c1244d3c4",
            "95c484054d952cb6",
            "17966a2f1dd06930",
            "3697150f5332d13d",
            "822ce164ff689dfc",
            "5903df706bf17bf9"
        ],
        "x": 34,
        "y": 79,
        "w": 872,
        "h": 322
    },
    {
        "id": "18778eda46bd5b07",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "93750bbcea38e7fe",
            "442e921eed2365ac",
            "aa5c2742d22be7f8",
            "fd128583b8d87f7f",
            "bdb7dfde4f3191a6",
            "4eb1999fbc3aab57"
        ],
        "x": 54,
        "y": 879,
        "w": 632,
        "h": 182
    },
    {
        "id": "4a4f80625f8ea163",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "85965edc.72971",
            "5efe17e007074ad1",
            "672af1a8627b7e63",
            "e33ce82b402295fc",
            "227f2d5a2ea24037",
            "da02d40547f5f97a",
            "f2be5d92f9656966"
        ],
        "x": 974,
        "y": 39,
        "w": 712,
        "h": 222
    },
    {
        "id": "6f159bf7a82f4dfa",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "ee998e797cc6bfa3",
            "5bf648170501ee01",
            "2b2a6d295740d392",
            "ec7979310fe9e00f",
            "28011fcca82837fc"
        ],
        "x": 54,
        "y": 1079,
        "w": 1398,
        "h": 868
    },
    {
        "id": "6a8702296ddd22a1",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "fd280fb139a56e3e",
            "9321df77664c4496",
            "82a8466517112ffd",
            "c612b81a64bb9759",
            "ee7fad842ebd85de",
            "ae0759e01e0881af",
            "18a7e5b4e99c326d",
            "aadcf8e2c074df27",
            "172fa78eb398bc4c",
            "140ccabed0093842",
            "a7ed1ac2a675515d",
            "3b77325dbc1afa0c",
            "f80fcf16add6a94c",
            "d1995509f950a1a9",
            "da8215e65b543ef9",
            "4b6a57a81a1ea4ce",
            "ea98a939f9a52953",
            "2335df53b4766297",
            "6d217ae324a7acc7",
            "b139a3ab9696d743",
            "0ff21611a0176572",
            "691a5afc5b52b78a",
            "45e70a9ad7899e4d",
            "9cbdb9d52fe7cf9a",
            "9bc5be050fadf6b6"
        ],
        "x": 54,
        "y": 1979,
        "w": 1562,
        "h": 582
    },
    {
        "id": "4788e8d5cbe11d8f",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "f006f834cd4dc2be",
            "550ba5d34605ad4c",
            "11b308030fbc13bf",
            "77191df86e82050c",
            "c46aa67248fd589a",
            "d0e47829bbab10d2",
            "ff0af9f0a11f5393",
            "f6d8fde6109ac979",
            "6177f53a1a1c40ea",
            "6f5b0006051e39ef",
            "5addcc4a4e5261bd",
            "67dbb7b83e823038",
            "41518b531082b3d7"
        ],
        "x": 54,
        "y": 2579,
        "w": 872,
        "h": 302
    },
    {
        "id": "0d233ae99a4c6065",
        "type": "group",
        "z": "47c0e0ae667846a9",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "7a5f520857017bbb",
            "70c149ec65fb102c",
            "5f3e0a85eea68705"
        ],
        "x": 34,
        "y": 19,
        "w": 552,
        "h": 122
    },
    {
        "id": "aa7cdd8f3125703c",
        "type": "group",
        "z": "47c0e0ae667846a9",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "0e16be23a79edb49",
            "af913b1474ed43d9",
            "4f65e1b1c3249fbc",
            "39d591f75ab6581f",
            "6e6816ac951a5c0f"
        ],
        "x": 34,
        "y": 159,
        "w": 852,
        "h": 182
    },
    {
        "id": "2ac942eccf98a996",
        "type": "group",
        "z": "175af8efcea2d591",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "0bb4f2dd1a0c4bda",
            "8ddea564d172bf3f",
            "171f62c6c1563726",
            "05cbae4faf594123",
            "deaae49be7b573b0",
            "892376e5bd117bc9",
            "318fd2d140ad472a",
            "09e1bb987f6fc783",
            "c5d69c3b0f5e30ee",
            "0e3ebf9316c50718"
        ],
        "x": 94,
        "y": 59,
        "w": 692,
        "h": 362
    },
    {
        "id": "b2c04e106e7697f0",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "d56b2c69ab7a5b19",
            "c71621e5f8d62525",
            "3324776758a34ef8",
            "14d53b51ae10a6d7",
            "da290e77a88988a7",
            "3ddb4866a6ecb8fe",
            "250504d69a42ec07",
            "a43cfe8c60aa1766",
            "03cc0a5688f63569",
            "8b9f85415994242a",
            "81525ae27ca9e82c",
            "b92ea91a45968087"
        ],
        "x": 54,
        "y": 2899,
        "w": 972,
        "h": 462
    },
    {
        "id": "284c27310b25477c",
        "type": "group",
        "z": "f6f035102302ba5a",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "0416ea6909311b42",
            "187c6afe9262807c",
            "8078387b8154fc28",
            "5acfacf7a05cc895",
            "926f27b7e8249ddb",
            "ed2d399b29970928",
            "5f0bcff5c4ed6ec4",
            "f986ab9711daf36b",
            "d052e342e40320b9",
            "71df01656749e372",
            "dd8828fab2dad33c",
            "42fbeec64825d3a1",
            "4de1de66baa1bdcf",
            "085de4503ad6ec20",
            "63f18a575dc37f3b",
            "dda9a78374edd0d2",
            "a25ecc470396a417"
        ],
        "x": 64,
        "y": 67,
        "w": 1472,
        "h": 454
    },
    {
        "id": "5f1037ebc6dbd72f",
        "type": "group",
        "z": "f6f035102302ba5a",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "7138aeefb2263d68",
            "f8afe1542a91baa2",
            "f976aafaf0f9a3c1",
            "2d3d077a6a33a90f",
            "19c221d99629ee7a"
        ],
        "x": 74,
        "y": 567,
        "w": 652,
        "h": 194
    },
    {
        "id": "459fe488a5804676",
        "type": "group",
        "z": "f6f035102302ba5a",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "42500fdf3edadd8f",
            "ab46c7d25d3bb74b",
            "570cc8a3dd014038",
            "7e1e1ed2c52487f5",
            "505ee7d447687c96",
            "8498c6ad0a1a8df7",
            "192043bb5930e80f",
            "f4ccd769fbdd6843",
            "64807321f86b9125",
            "71f67f7f27cafd81"
        ],
        "x": 74,
        "y": 807,
        "w": 1592,
        "h": 266
    },
    {
        "id": "2b2a6d295740d392",
        "type": "group",
        "z": "55a762ae72fa441b",
        "g": "6f159bf7a82f4dfa",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "80cdfca71b0a4285",
            "4833618839f23d81",
            "8f38f406c628cd92",
            "71450ef8b8905ee9",
            "75202ca16a123855",
            "3a2d656d9de58a64",
            "7f56ec0176b540bc",
            "3c6b0d2e7d12f47d",
            "a9e9a6448592d3b2",
            "dafcb9eeb25bd05f",
            "97db8049c673a98e",
            "079d1a3ec4dd91d9",
            "2a0d525888f8207a",
            "4c724d58d017c572",
            "92aca6c09c966e83",
            "490c984c330991c7",
            "e3e9fd0d99b1549e",
            "e0d9d7310fe50dd8",
            "8c8fae70037e1c26"
        ],
        "x": 114,
        "y": 1479,
        "w": 1312,
        "h": 442
    },
    {
        "id": "ec7979310fe9e00f",
        "type": "group",
        "z": "55a762ae72fa441b",
        "g": "6f159bf7a82f4dfa",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "b43ba60f45967c77",
            "c9e2c1f189fc8576",
            "e0c6c1515d7fb9ae",
            "6d2a234344182486"
        ],
        "x": 114,
        "y": 1319,
        "w": 712,
        "h": 122
    },
    {
        "id": "28011fcca82837fc",
        "type": "group",
        "z": "55a762ae72fa441b",
        "g": "6f159bf7a82f4dfa",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "e5d8eb5d72932755",
            "e1f84c7be941ca8c",
            "78f0d62baea56673",
            "8d1b28dd96f6b81e",
            "6ee9ecd341bb2e5c",
            "d213416ed624b309"
        ],
        "x": 114,
        "y": 1159,
        "w": 712,
        "h": 142
    },
    {
        "id": "378995858571b39f",
        "type": "group",
        "z": "55a762ae72fa441b",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "f5a74fe1d67dc764",
            "54b84dae77542449",
            "7156e130265428bd",
            "a802cc1f90bd41ea",
            "108daae7a312a34f",
            "bdb38005806f60c4",
            "916452b345ae29e0",
            "e05f3a75274f8b73",
            "d3c4d73421b078d1",
            "19ec3afca86d1046",
            "7bd8a304b7ed99cb",
            "7690e8c04058fd38",
            "48373ebe740e92b6"
        ],
        "x": 34,
        "y": 499,
        "w": 872,
        "h": 322
    },
    {
        "id": "11a9b9cee18f6b6c",
        "type": "group",
        "z": "f6f035102302ba5a",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "3c85efd6b9fe4796",
            "7503e9afbf970c67",
            "36c9b826c07c4844",
            "b497a4557843716d",
            "223c3fe920a91621",
            "270a5506f8851358",
            "b019d27b1b388b63",
            "74e30c503ee7b8b0",
            "f5ac07449078a00d",
            "3f402ddd8643cce0"
        ],
        "x": 74,
        "y": 1179,
        "w": 772,
        "h": 302
    },
    {
        "id": "3a81c46c8f3762a2",
        "type": "group",
        "z": "47c0e0ae667846a9",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "13b29febb8e2b3e9",
            "042587d56aedd796",
            "478145ccd1cc1b6c",
            "1c1fbdd28c2c806b",
            "1b55865e8e16d405"
        ],
        "x": 34,
        "y": 379,
        "w": 772,
        "h": 122
    },
    {
        "id": "77bdfe65956919ec",
        "type": "group",
        "z": "175af8efcea2d591",
        "style": {
            "stroke": "#3a3a3a",
            "stroke-opacity": "1",
            "fill": "#1e1e1e",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "25bdc69949d0b152",
            "b3329dfa95503c2c",
            "1a9410ac2442e363",
            "2d07da5341cf14ee",
            "b8f41ef7533e00c1",
            "811f25a4a4480bf7",
            "d775d38173b3593c",
            "8b81919795d67036",
            "3014efb296f50a70",
            "3fbcebb8a982c031"
        ],
        "x": 94,
        "y": 619,
        "w": 1242,
        "h": 282
    },
    {
        "id": "b411c6135a7823e0",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#003d5c",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#003d5c",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#003d5c",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#003d5c",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0070a8",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#003d5c",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "050e42e2db96a9f4",
        "type": "ui_tab",
        "name": "Manual Mode",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c1e7786ce952a5d",
        "type": "ui_group",
        "name": "Lights",
        "tab": "050e42e2db96a9f4",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc90be16040a7d21",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.112",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3feccb6b5184919b",
        "type": "ui_tab",
        "name": "Match Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "062c9dae52b8ca4a",
        "type": "ui_group",
        "name": "----- Pre-Match Setup ----- ",
        "tab": "3feccb6b5184919b",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eec8a831cc9d15c1",
        "type": "ui_group",
        "name": "----- Queue / Heater ----- ",
        "tab": "3feccb6b5184919b",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1f13388d5f613e8",
        "type": "ui_group",
        "name": "----- Time to party ----- ",
        "tab": "3feccb6b5184919b",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9a4d9823a0d3e9f",
        "type": "ui_spacer",
        "z": "55a762ae72fa441b",
        "name": "spacer",
        "group": "eec8a831cc9d15c1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "020d7845eb6c4a8e",
        "type": "ui_spacer",
        "z": "55a762ae72fa441b",
        "name": "spacer",
        "group": "eec8a831cc9d15c1",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a9988d07ce7537bf",
        "type": "ui_spacer",
        "z": "55a762ae72fa441b",
        "name": "spacer",
        "group": "eec8a831cc9d15c1",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "20b9c336826478e0",
        "type": "ui_spacer",
        "z": "55a762ae72fa441b",
        "name": "spacer",
        "group": "eec8a831cc9d15c1",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a908d0a007a04fc4",
        "type": "ui_spacer",
        "z": "55a762ae72fa441b",
        "name": "spacer",
        "group": "eec8a831cc9d15c1",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "eed44365a96c65ec",
        "type": "ui_spacer",
        "z": "55a762ae72fa441b",
        "name": "spacer",
        "group": "eec8a831cc9d15c1",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "b194d4f5bf93f9af",
        "type": "ui_tab",
        "name": "Edge Node Debug",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ab51318efc44d27",
        "type": "ui_group",
        "name": "HeartBeat Messages",
        "tab": "b194d4f5bf93f9af",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b0778b1ab30b93e",
        "type": "ui_group",
        "name": "Laser Messages",
        "tab": "b194d4f5bf93f9af",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c98b5bcc37992daf",
        "type": "ui_tab",
        "name": "Game Status",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ee9886ff6322a456",
        "type": "ui_group",
        "name": "Building Status",
        "tab": "c98b5bcc37992daf",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e7886cb7c605213",
        "type": "ui_group",
        "name": "Manual Testers",
        "tab": "c98b5bcc37992daf",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b93859f928b3d64a",
        "type": "ui_spacer",
        "z": "f6f035102302ba5a",
        "name": "spacer",
        "group": "ee9886ff6322a456",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "a03fb063018b31ca",
        "type": "ui_spacer",
        "z": "f6f035102302ba5a",
        "name": "spacer",
        "group": "ee9886ff6322a456",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "c5623d737afd9e1e",
        "type": "ui_spacer",
        "z": "f6f035102302ba5a",
        "name": "spacer",
        "group": "3e7886cb7c605213",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "d5d81d3aaaa3bca5",
        "type": "ui_spacer",
        "z": "f6f035102302ba5a",
        "name": "spacer",
        "group": "3e7886cb7c605213",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "e1ba7bc1352dbb74",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "MVP Step 1 - Light up all Bldgs",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "93750bbcea38e7fe",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "18778eda46bd5b07",
        "name": "MVP Step 2 - Turn Off a Given Bldg",
        "info": "",
        "x": 220,
        "y": 920,
        "wires": []
    },
    {
        "id": "5725302ea02fb9eb",
        "type": "ui_button",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "",
        "group": "7c1e7786ce952a5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn on Bldgs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "b52637f4da03c425"
            ]
        ]
    },
    {
        "id": "85965edc.72971",
        "type": "ui_template",
        "z": "55a762ae72fa441b",
        "g": "4a4f80625f8ea163",
        "group": "",
        "name": "Dashboard Theme : Modern Dark",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 2px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n\n        .bigbutton {\n            font-size: large;\n        }\n    </style>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1200,
        "y": 120,
        "wires": [
            []
        ],
        "icon": "node-red-dashboard/ui_colour_picker.png",
        "info": "# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"
    },
    {
        "id": "ff606f8c806a3eac",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "28a544304a1e4303",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "Set Light 0 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/lighton/\"+node_id;\nmsg.payload = \"{ \\\"whichLight\\\":0 }\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "ff606f8c806a3eac"
            ]
        ]
    },
    {
        "id": "b52637f4da03c425",
        "type": "loop",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "[\"RTO\",\"RBO\",\"RTM\",\"RBM\",\"RTI\",\"RBI\",\"LBI\",\"LTI\",\"LBM\",\"LTM\",\"LBO\",\"LTO\"]",
        "enumerationType": "json",
        "limit": "",
        "loopPayload": "loop-val",
        "finalPayload": "final-count",
        "x": 470,
        "y": 160,
        "wires": [
            [],
            [
                "28a544304a1e4303",
                "95c484054d952cb6",
                "a3b9dda68a07d22c",
                "3697150f5332d13d"
            ]
        ]
    },
    {
        "id": "a3b9dda68a07d22c",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "Set Gutter MQTT msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/updatepixels/\"+node_id;\nmsg.payload = \"{ \\\"whichLeds\\\":0, \" +\n    \"\\\"pixels\\\": \\\"222222222222222222222222222222\\\"\" +\n    \"}\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "0941e20c1244d3c4",
                "5903df706bf17bf9"
            ]
        ]
    },
    {
        "id": "0941e20c1244d3c4",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "442e921eed2365ac",
        "type": "ui_form",
        "z": "55a762ae72fa441b",
        "g": "18778eda46bd5b07",
        "name": "",
        "label": "Turn off Bldg",
        "group": "7c1e7786ce952a5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Bldg ID",
                "value": "bldg",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "bldg": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 190,
        "y": 980,
        "wires": [
            [
                "aa5c2742d22be7f8"
            ]
        ]
    },
    {
        "id": "aa5c2742d22be7f8",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "18778eda46bd5b07",
        "name": "Set MQTT Messages",
        "func": "/* Example input\nmsg.payload : Object\nobject\n    bldg: \"RT\"\n*/ \n\n//--- Basic variables\nvar node_id = msg.payload.bldg;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\n//--- Set up MQTT messages\nmsg1.topic = \"nodered/lightoff/\"+node_id;\nmsg1.payload = \"{ \\\"whichLight\\\":1 }\";\nmsg2.topic = \"nodered/updatepixels/\" + node_id;\nmsg2.payload = \"{ \" + \n    \"\\\"whichLeds\\\":0, \" + \n    \"\\\"pixels\\\":\\\"000000000000000000000000000000\\\" \" +\n    \"}\";\nmsg3.topic = \"nodered/lightoff/\" + node_id;\nmsg3.payload = \"{ \\\"whichLight\\\":2 }\";\n\n//--- Fin\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 980,
        "wires": [
            [
                "fd128583b8d87f7f"
            ],
            [
                "bdb7dfde4f3191a6"
            ],
            [
                "4eb1999fbc3aab57"
            ]
        ]
    },
    {
        "id": "fd128583b8d87f7f",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "18778eda46bd5b07",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "bdb7dfde4f3191a6",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "18778eda46bd5b07",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 610,
        "y": 980,
        "wires": []
    },
    {
        "id": "ee998e797cc6bfa3",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6f159bf7a82f4dfa",
        "name": "MVP Step 3 - Queue Match Steps",
        "info": "",
        "x": 220,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b43ba60f45967c77",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "ec7979310fe9e00f",
        "name": "Heater",
        "info": "",
        "x": 190,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e5d8eb5d72932755",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "28011fcca82837fc",
        "name": "Pick a Side",
        "info": "",
        "x": 200,
        "y": 1200,
        "wires": []
    },
    {
        "id": "5efe17e007074ad1",
        "type": "inject",
        "z": "55a762ae72fa441b",
        "g": "4a4f80625f8ea163",
        "name": "do",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "672af1a8627b7e63"
            ]
        ]
    },
    {
        "id": "672af1a8627b7e63",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "4a4f80625f8ea163",
        "name": "Reset / Default Global Variables",
        "func": "\n//--- Match setup \nglobal.set(\"startSide\",\"\");  // L or R\nglobal.set(\"otherSide\", \"\"); // L or R\nglobal.set(\"startRoute\",\"\"); // T or B\nglobal.set(\"hotBldg\",\"\");    // T or B\n\n\n//--- Building objects\nvar bldgs = [\"RTO\", \"RBO\", \"RTM\", \"RBM\", \"RTI\", \"RBI\", \"LBO\", \"LTO\", \"LBM\", \"LTM\", \"LBI\", \"LTI\"];\nfor (var i in bldgs) {\n\n    //Status - Dormant, At Risk(Unblocked), Blocked, Cleared, Damaged\n    global.set(bldgs[i] + \".Status\", \"Dormant\");\n\n    //Fire scores \n    global.set(bldgs[i] + \".FS.Window1-BeforeWater\", 0);\n    global.set(bldgs[i] + \".FS.Window2-BeforeWater\", 0);\n    global.set(bldgs[i] + \".FS.Window1-AfterWater\", 0);\n    global.set(bldgs[i] + \".FS.Window2-AfterWater\", 0);\n\n    // Water qtys - int\n    global.set(bldgs[i] + \".WaterQty\", 0);\n\n    // Gutterpixels - string of numbers that represent colors\n    global.set(bldgs[i] + \".GutterPixels\", \"000000000000000000000000000000\");\n}\n\n\n//Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 160,
        "wires": [
            [
                "da02d40547f5f97a"
            ]
        ]
    },
    {
        "id": "e33ce82b402295fc",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "4a4f80625f8ea163",
        "name": "Configuration",
        "info": "",
        "x": 1070,
        "y": 80,
        "wires": []
    },
    {
        "id": "80cdfca71b0a4285",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "Heater On",
        "info": "",
        "x": 200,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e1f84c7be941ca8c",
        "type": "ui_switch",
        "z": "55a762ae72fa441b",
        "g": "28011fcca82837fc",
        "name": "",
        "label": "Start Side",
        "tooltip": "",
        "group": "062c9dae52b8ca4a",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 1240,
        "wires": [
            [
                "6ee9ecd341bb2e5c"
            ]
        ]
    },
    {
        "id": "78f0d62baea56673",
        "type": "ui_text",
        "z": "55a762ae72fa441b",
        "g": "28011fcca82837fc",
        "group": "062c9dae52b8ca4a",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "Startside Output",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8d1b28dd96f6b81e",
        "type": "change",
        "z": "55a762ae72fa441b",
        "g": "28011fcca82837fc",
        "name": "Right",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "RIGHT",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "startSide",
                "pt": "global",
                "to": "R",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "otherSide",
                "pt": "global",
                "to": "L",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1220,
        "wires": [
            [
                "78f0d62baea56673"
            ]
        ]
    },
    {
        "id": "6ee9ecd341bb2e5c",
        "type": "switch",
        "z": "55a762ae72fa441b",
        "g": "28011fcca82837fc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "8d1b28dd96f6b81e"
            ],
            [
                "d213416ed624b309"
            ]
        ]
    },
    {
        "id": "d213416ed624b309",
        "type": "change",
        "z": "55a762ae72fa441b",
        "g": "28011fcca82837fc",
        "name": "Left",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "LEFT",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "startSide",
                "pt": "global",
                "to": "L",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "otherSide",
                "pt": "global",
                "to": "R",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "78f0d62baea56673"
            ]
        ]
    },
    {
        "id": "c9e2c1f189fc8576",
        "type": "ui_button",
        "z": "55a762ae72fa441b",
        "g": "ec7979310fe9e00f",
        "name": "",
        "group": "062c9dae52b8ca4a",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Randomize Hotspot Bldg",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 1400,
        "wires": [
            [
                "e0c6c1515d7fb9ae"
            ]
        ]
    },
    {
        "id": "e0c6c1515d7fb9ae",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "ec7979310fe9e00f",
        "name": "Random choice",
        "func": "//Use the timestamp to random select lol\nvar input = String(msg.payload);\nvar lastDigit = parseInt(input.slice(-1));\n\n//Evens top, odds bottom\nvar hotRoute = (lastDigit % 2) == 0 ? \"T\" : \"B\"; \nvar theHotBldg = global.get(\"startSide\") + hotRoute + \"O\"; //always O bldg\n\n//Fin\nglobal.set(\"hotBldg\", theHotBldg);\nglobal.set(theHotBldg + \".Status\", \"Hottt\");\nmsg.payload = theHotBldg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1400,
        "wires": [
            [
                "6d2a234344182486"
            ]
        ]
    },
    {
        "id": "6d2a234344182486",
        "type": "ui_text",
        "z": "55a762ae72fa441b",
        "g": "ec7979310fe9e00f",
        "group": "062c9dae52b8ca4a",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "Hotbldg Output",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 1400,
        "wires": []
    },
    {
        "id": "5bf648170501ee01",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6f159bf7a82f4dfa",
        "name": "Note - these all also update globals",
        "info": "",
        "x": 540,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4833618839f23d81",
        "type": "ui_button",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "group": "eec8a831cc9d15c1",
        "order": 2,
        "width": 8,
        "height": 2,
        "passthru": false,
        "label": "CONFIRM - Queue Match - Turn on Heater",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkorange",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "8f38f406c628cd92",
                "7f56ec0176b540bc",
                "490c984c330991c7"
            ]
        ]
    },
    {
        "id": "8f38f406c628cd92",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "Build MQTT to heat it up",
        "func": "//Get the thing\nvar whichBldg = global.get(\"hotBldg\");\n\n//Build the MQTT message\nmsg.topic = \"nodered/heateron/\" + whichBldg;\nmsg.payload = \"{}\";\n\n//Fin\nglobal.set(\"hotBldg\",whichBldg);\nmsg.payload = global.get(\"startSide\") + whichBldg + \"O\"; //always O bldg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1560,
        "wires": [
            [
                "71450ef8b8905ee9"
            ]
        ]
    },
    {
        "id": "71450ef8b8905ee9",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 870,
        "y": 1560,
        "wires": []
    },
    {
        "id": "75202ca16a123855",
        "type": "ui_text",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "group": "eec8a831cc9d15c1",
        "order": 6,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Heater has been on for: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1290,
        "y": 1640,
        "wires": []
    },
    {
        "id": "3a2d656d9de58a64",
        "type": "delay",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 960,
        "y": 1740,
        "wires": [
            [
                "dafcb9eeb25bd05f"
            ]
        ]
    },
    {
        "id": "7f56ec0176b540bc",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "Do a timer",
        "func": "let clock_value = flow.get(\"clock_value\") || 0;\n\nclock_value++; \n\nif (clock_value < 0) clock_value = 0;\n\nflow.set(\"clock_value\", clock_value);\nglobal.set(\"heaterTime\", clock_value);\n\nmsg.payload = clock_value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1680,
        "wires": [
            [
                "a9e9a6448592d3b2",
                "3c6b0d2e7d12f47d",
                "3a2d656d9de58a64"
            ]
        ]
    },
    {
        "id": "3c6b0d2e7d12f47d",
        "type": "ui_gauge",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "group": "eec8a831cc9d15c1",
        "order": 8,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Heating Up Time",
        "label": "seconds",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "120",
        "className": "",
        "x": 1010,
        "y": 1680,
        "wires": []
    },
    {
        "id": "a9e9a6448592d3b2",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "seconds to minute:seconds",
        "func": "//https://flows.nodered.org/flow/07570367cf2ccf79344c5f336004d9d9\n\nlet secsDecimal = msg.payload;\n\nlet mins = Math.floor(secsDecimal/60);\nlet secs = secsDecimal % 60;\n\n//msg.payload = (mins + (secs / 100.0)).toFixed(2)\nmsg.payload = secs < 10 ? (mins + \":0\" + secs) : (mins + \":\" + secs);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1640,
        "wires": [
            [
                "75202ca16a123855"
            ]
        ]
    },
    {
        "id": "dafcb9eeb25bd05f",
        "type": "switch",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "If still on",
        "property": "heateron",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 1740,
        "wires": [
            [
                "7f56ec0176b540bc"
            ]
        ]
    },
    {
        "id": "97db8049c673a98e",
        "type": "ui_button",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "group": "eec8a831cc9d15c1",
        "order": 10,
        "width": 3,
        "height": 2,
        "passthru": true,
        "label": "KILL THE HEATER",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 1840,
        "wires": [
            [
                "079d1a3ec4dd91d9",
                "2a0d525888f8207a",
                "92aca6c09c966e83"
            ]
        ]
    },
    {
        "id": "079d1a3ec4dd91d9",
        "type": "change",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "global.heateron = false",
        "rules": [
            {
                "t": "set",
                "p": "heateron",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "2a0d525888f8207a",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "Build MQTT to shut 'er down",
        "func": "//Get the thing\nvar whichBldg = global.get(\"startSide\") + global.get(\"hotBldg\") + \"O\";\n\n//Build the MQTT message\nmsg.topic = \"nodered/heateroff/\" + whichBldg;\nmsg.payload = \"{}\";\n\n//Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1800,
        "wires": [
            [
                "4c724d58d017c572"
            ]
        ]
    },
    {
        "id": "4c724d58d017c572",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 770,
        "y": 1800,
        "wires": []
    },
    {
        "id": "92aca6c09c966e83",
        "type": "change",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "Reset timer",
        "rules": [
            {
                "t": "set",
                "p": "clock_value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1880,
        "wires": [
            [
                "7f56ec0176b540bc",
                "e3e9fd0d99b1549e"
            ]
        ]
    },
    {
        "id": "490c984c330991c7",
        "type": "change",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "global.heateron = true",
        "rules": [
            {
                "t": "set",
                "p": "heateron",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "e3e9fd0d99b1549e",
        "type": "delay",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 1880,
        "wires": [
            [
                "e0d9d7310fe50dd8"
            ]
        ]
    },
    {
        "id": "e0d9d7310fe50dd8",
        "type": "change",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1880,
        "wires": [
            [
                "75202ca16a123855"
            ]
        ]
    },
    {
        "id": "fd280fb139a56e3e",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "MVP Step 4 - Match Start (T=0)",
        "info": "",
        "x": 210,
        "y": 2020,
        "wires": []
    },
    {
        "id": "9321df77664c4496",
        "type": "ui_button",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "",
        "group": "f1f13388d5f613e8",
        "order": 1,
        "width": 5,
        "height": 2,
        "passthru": false,
        "label": "START MATCH",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "bigbutton",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 2200,
        "wires": [
            [
                "82a8466517112ffd",
                "ee7fad842ebd85de",
                "18a7e5b4e99c326d",
                "4b6a57a81a1ea4ce"
            ]
        ]
    },
    {
        "id": "82a8466517112ffd",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Update first Burning Bldgs",
        "func": "//--- Set up vars\nvar whichSide = global.get(\"startSide\"); // \"L\" or \"R\"\nvar msg1 = {};\nmsg1.payload = {};\nvar msg2 = {};\nmsg2.payload = {};\n\n//--- Top or bottom?\nvar whichRouteInt = Math.floor(Math.random() * 2); //returns 0 or 1\nvar whichRouteStr = whichRouteInt == 1 ? \"T\" : \"B\";\nglobal.set(\"startRoute\", whichRouteStr);\nvar bldg1 = whichSide + whichRouteStr + \"M\"; //e.g. bldg LTM\nvar bldg2 = whichSide + whichRouteStr + \"I\"; //e.g. bldg LTI\n\n//--- Set up payloads to update globals using callbacks\n// - Callback expects payload.bldg, payload.window, payload.numFire\n// - Set window 1 to FS of 8\nmsg1.payload.bldg = bldg1;\nmsg1.payload.window = 1;\nmsg1.payload.numFire = 8;\nmsg1.payload.beforeOrAfterWater = \"BEFORE\";\nmsg2.payload.bldg = bldg2;\nmsg2.payload.window = 1;\nmsg2.payload.numFire = 8;\nmsg2.payload.beforeOrAfterWater = \"BEFORE\";\n\n//Fin\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2080,
        "wires": [
            [
                "c612b81a64bb9759",
                "45e70a9ad7899e4d"
            ],
            [
                "c612b81a64bb9759",
                "9cbdb9d52fe7cf9a"
            ]
        ]
    },
    {
        "id": "c612b81a64bb9759",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Send T=0 FS updates",
        "mode": "link",
        "links": [
            "0416ea6909311b42",
            "772defe5dc3f1eb0"
        ],
        "x": 685,
        "y": 2080,
        "wires": []
    },
    {
        "id": "ee7fad842ebd85de",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Light up a Tello Path",
        "func": "/* \nGutterPixels callback expects\npayload.bldg, payload.pixelstring\n*/ \n\n\n//--- Set up vars\nvar whichSide = global.get(\"otherSide\"); // \"L\" or \"R\"\nvar msg1 = {};\nmsg1.payload = {};\nvar msg2 = {};\nmsg2.payload = {};\nvar msg3 = {};\nmsg3.payload = {};\nvar msg4 = {};\nmsg4.payload = {};\n\n//                    |                            |\nvar thePixelString = \"666666666666666666666666666666\"; // TEAL\n\n//--- Set up messages\nmsg1.payload.bldg = whichSide + \"TO\";\nmsg2.payload.bldg = whichSide + \"TM\";\nmsg3.payload.bldg = whichSide + \"BM\";\nmsg4.payload.bldg = whichSide + \"BI\";\nmsg1.payload.pixelstring = thePixelString;\nmsg2.payload.pixelstring = thePixelString;\nmsg3.payload.pixelstring = thePixelString;\nmsg4.payload.pixelstring = thePixelString;\n\n//--- Update global statuses\nglobal.set(msg1.payload.bldg + \".Status\", \"TelloPath\");\nglobal.set(msg2.payload.bldg + \".Status\", \"TelloPath\");\nglobal.set(msg3.payload.bldg + \".Status\", \"TelloPath\");\nglobal.set(msg4.payload.bldg + \".Status\", \"TelloPath\");\n\n//Fin\nreturn [msg1, msg2, msg3, msg4];\n\n\n/*\n--------\nTHIS WILL BE EASY TO ADD ALL 3 PATHS LATER \n- JUST PULL FROM THE OTHER CODE\n--------\n*/ ",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2200,
        "wires": [
            [
                "ae0759e01e0881af"
            ],
            [
                "ae0759e01e0881af"
            ],
            [
                "ae0759e01e0881af"
            ],
            [
                "ae0759e01e0881af"
            ]
        ]
    },
    {
        "id": "ae0759e01e0881af",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Tello GutterPixels",
        "mode": "link",
        "links": [
            "f8afe1542a91baa2"
        ],
        "x": 685,
        "y": 2200,
        "wires": []
    },
    {
        "id": "18a7e5b4e99c326d",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Set 1:00 target for heater",
        "func": "//--- Set up vars\nvar hotBldg = global.get(\"hotBldg\"); // e.g. \"LTO\"\nvar curHotTime = global.get(\"heaterTime\"); //in secs\n\n//--- Set a \"time target\" that is 60 secs from now\nvar timeTarget = curHotTime + 60;\nglobal.set(\"heaterTimeTarget\", timeTarget);\n//node.warn(global.get(\"heaterTime\"));\n//node.warn(global.get(\"heaterTimeTarget\"));\n\n\n//Fin\nmsg.payload = timeTarget;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2300,
        "wires": [
            [
                "140ccabed0093842"
            ]
        ]
    },
    {
        "id": "8c8fae70037e1c26",
        "type": "link in",
        "z": "55a762ae72fa441b",
        "g": "2b2a6d295740d392",
        "name": "Kill the Heater",
        "links": [
            "157a25e39689ce6c",
            "d1995509f950a1a9",
            "6d217ae324a7acc7"
        ],
        "x": 185,
        "y": 1840,
        "wires": [
            [
                "97db8049c673a98e"
            ]
        ]
    },
    {
        "id": "aadcf8e2c074df27",
        "type": "ui_text",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "group": "eec8a831cc9d15c1",
        "order": 7,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Heater will turn off in: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1460,
        "y": 2260,
        "wires": []
    },
    {
        "id": "f006f834cd4dc2be",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "MVP Step 5 - Global Timer, progress through bldgs",
        "info": "",
        "x": 270,
        "y": 2620,
        "wires": []
    },
    {
        "id": "550ba5d34605ad4c",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Overarching FS concept in this comment vvvvv",
        "info": "- FS progresses along at a fixed path\n- FS communication is \"one-way\", so to speak\n- Teams can ping it down as it grows\n- If you get to it before it progresses to second window, \n  you get damage prevention bonus",
        "x": 720,
        "y": 2620,
        "wires": []
    },
    {
        "id": "11b308030fbc13bf",
        "type": "delay",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 2720,
        "wires": [
            [
                "77191df86e82050c"
            ]
        ]
    },
    {
        "id": "77191df86e82050c",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "First Burning Bldgs -> 2 Windows",
        "func": "//--- Set up vars\nvar whichSide = global.get(\"startSide\");   // \"L\" or \"R\"\nvar whichRoute = global.get(\"startRoute\"); // \"T\" or \"B\"\nvar bldg1 = whichSide + whichRoute + \"I\";  // e.g. \"LTI\"\nvar bldg2 = whichSide + whichRoute + \"M\";  // e.g. \"LTM\"\nvar msg1 = {};\nmsg1.payload = {};\nvar msg2 = {};\nmsg2.payload = {};\n\n//--- Check on the bldgs\n// Anyone who is still burning (i.e. team has not turned FS to 0) expands to next window\n// Set up payloads to update globals using callbacks\n// - Callback expects payload.bldg, payload.window, payload.numFire\n// - Set window 2 to FS of 8\nif (global.get(bldg1 + \".FS.Window1-AfterWater\") > 0) {\n    msg1.payload.bldg = bldg1;\n    msg1.payload.window = 2;\n    msg1.payload.numFire = 8;\n}\nif (global.get(bldg2 + \".FS.Window1-AfterWater\") > 0) {\n    msg2.payload.bldg = bldg2;\n    msg2.payload.window = 2;\n    msg2.payload.numFire = 8;\n}\n\n//Fin\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2720,
        "wires": [
            [
                "d0e47829bbab10d2"
            ],
            [
                "d0e47829bbab10d2",
                "f6d8fde6109ac979"
            ]
        ]
    },
    {
        "id": "172fa78eb398bc4c",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "TODO: HEATER ERUPTS",
        "info": "",
        "x": 1110,
        "y": 2440,
        "wires": []
    },
    {
        "id": "140ccabed0093842",
        "type": "trigger",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 800,
        "y": 2300,
        "wires": [
            [
                "a7ed1ac2a675515d"
            ]
        ]
    },
    {
        "id": "a7ed1ac2a675515d",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Time Remaining",
        "func": "var waitTime = global.get(\"heaterTimeTarget\") - global.get(\"heaterTime\");\nmsg.payload = waitTime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 2300,
        "wires": [
            [
                "3b77325dbc1afa0c"
            ]
        ]
    },
    {
        "id": "3b77325dbc1afa0c",
        "type": "switch",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "If still time remaining",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1200,
        "y": 2300,
        "wires": [
            [
                "aadcf8e2c074df27"
            ],
            [
                "f80fcf16add6a94c"
            ]
        ]
    },
    {
        "id": "f80fcf16add6a94c",
        "type": "change",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 2360,
        "wires": [
            [
                "140ccabed0093842",
                "d1995509f950a1a9"
            ]
        ]
    },
    {
        "id": "d1995509f950a1a9",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Ding fries are done",
        "mode": "link",
        "links": [
            "8c8fae70037e1c26"
        ],
        "x": 1575,
        "y": 2360,
        "wires": []
    },
    {
        "id": "da8215e65b543ef9",
        "type": "ui_button",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "",
        "group": "f1f13388d5f613e8",
        "order": 2,
        "width": 5,
        "height": 2,
        "passthru": true,
        "label": "END / RESET MATCH",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 2460,
        "wires": [
            [
                "2335df53b4766297",
                "6d217ae324a7acc7",
                "9bc5be050fadf6b6"
            ]
        ]
    },
    {
        "id": "c46aa67248fd589a",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Will change to 60s or something - timing pending",
        "info": "- FS progresses along at a fixed path\n- FS communication is \"one-way\", so to speak\n- Teams can ping it down as it grows\n- If you get to it before it progresses to second window, \n  you get damage prevention bonus",
        "x": 380,
        "y": 2680,
        "wires": []
    },
    {
        "id": "d0e47829bbab10d2",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Send \"first burn\" FS updates",
        "mode": "link",
        "links": [
            "0416ea6909311b42",
            "772defe5dc3f1eb0"
        ],
        "x": 705,
        "y": 2720,
        "wires": []
    },
    {
        "id": "4b6a57a81a1ea4ce",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Start Burn Timer",
        "mode": "link",
        "links": [
            "ff0af9f0a11f5393"
        ],
        "x": 415,
        "y": 2380,
        "wires": []
    },
    {
        "id": "ea98a939f9a52953",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Start burn timer",
        "info": "",
        "x": 520,
        "y": 2380,
        "wires": []
    },
    {
        "id": "ff0af9f0a11f5393",
        "type": "link in",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Burn timer",
        "links": [
            "4b6a57a81a1ea4ce"
        ],
        "x": 145,
        "y": 2720,
        "wires": [
            [
                "11b308030fbc13bf"
            ]
        ]
    },
    {
        "id": "f6d8fde6109ac979",
        "type": "delay",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 2780,
        "wires": [
            [
                "6177f53a1a1c40ea"
            ]
        ]
    },
    {
        "id": "6177f53a1a1c40ea",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Second Bldgs -> 1 Window",
        "func": "//--- Set up vars\nvar whichSide = global.get(\"startSide\");   // \"L\" or \"R\"\nvar startRoute = global.get(\"startRoute\"); // \"T\" or \"B\"\nvar whichRoute = startRoute == \"T\" ? \"B\" : \"T\"; //opposite\nvar bldg1 = whichSide + whichRoute + \"I\";  // e.g. \"LTI\"\nvar bldg2 = whichSide + whichRoute + \"M\";  // e.g. \"LTM\"\nvar msg1 = {};\nmsg1.payload = {};\nvar msg2 = {};\nmsg2.payload = {};\n\n//--- Set up payloads to update globals using callbacks\n// - Callback expects payload.bldg, payload.window, payload.numFire\n// - Set window 1 to FS of 8\nmsg1.payload.bldg = bldg1;\nmsg1.payload.window = 1;\nmsg1.payload.numFire = 8;\nmsg2.payload.bldg = bldg2;\nmsg2.payload.window = 1;\nmsg2.payload.numFire = 8;\n\n//Fin\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2780,
        "wires": [
            [
                "6f5b0006051e39ef"
            ],
            [
                "6f5b0006051e39ef",
                "5addcc4a4e5261bd"
            ]
        ]
    },
    {
        "id": "6f5b0006051e39ef",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Send \"first burn\" FS updates",
        "mode": "link",
        "links": [
            "0416ea6909311b42",
            "772defe5dc3f1eb0"
        ],
        "x": 705,
        "y": 2780,
        "wires": []
    },
    {
        "id": "5addcc4a4e5261bd",
        "type": "delay",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 2840,
        "wires": [
            [
                "67dbb7b83e823038"
            ]
        ]
    },
    {
        "id": "67dbb7b83e823038",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Second Bldgs -> 2 Windows",
        "func": "//--- Set up vars\nvar whichSide = global.get(\"startSide\");   // \"L\" or \"R\"\nvar startRoute = global.get(\"startRoute\"); // \"T\" or \"B\"\nvar whichRoute = startRoute == \"T\" ? \"B\" : \"T\"; //opposite\nvar bldg1 = whichSide + whichRoute + \"I\";  // e.g. \"LTI\"\nvar bldg2 = whichSide + whichRoute + \"M\";  // e.g. \"LTM\"\nvar msg1 = {};\nvar msg2 = {};\nmsg1.payload = {};\nmsg2.payload = {};\n\n\n//--- Check on the bldgs\n// Anyone who is still burning (i.e. team has not turned FS to 0) expands to next window\n// Set up payloads to update globals using callbacks\n// - Callback expects payload.bldg, payload.window, payload.numFire\n// - Set window 2 to FS of 8\nif (global.get(bldg1 + \".FS.Window1-AfterWater\") > 0) {\n    msg1.payload.bldg = bldg1;\n    msg1.payload.window = 2;\n    msg1.payload.numFire = 8;\n}\nif (global.get(bldg2 + \".FS.Window1-AfterWater\") > 0) {\n    msg2.payload.bldg = bldg2;\n    msg2.payload.window = 2;\n    msg2.payload.numFire = 8;\n}\n\n\n//Fin\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2840,
        "wires": [
            [
                "41518b531082b3d7"
            ],
            [
                "41518b531082b3d7"
            ]
        ]
    },
    {
        "id": "41518b531082b3d7",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "4788e8d5cbe11d8f",
        "name": "Send \"first burn\" FS updates",
        "mode": "link",
        "links": [
            "0416ea6909311b42",
            "772defe5dc3f1eb0"
        ],
        "x": 705,
        "y": 2840,
        "wires": []
    },
    {
        "id": "227f2d5a2ea24037",
        "type": "link in",
        "z": "55a762ae72fa441b",
        "g": "4a4f80625f8ea163",
        "name": "RESET",
        "links": [
            "2335df53b4766297"
        ],
        "x": 1155,
        "y": 220,
        "wires": [
            [
                "672af1a8627b7e63"
            ]
        ]
    },
    {
        "id": "2335df53b4766297",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "JUST END IT",
        "mode": "link",
        "links": [
            "227f2d5a2ea24037"
        ],
        "x": 445,
        "y": 2440,
        "wires": []
    },
    {
        "id": "6d217ae324a7acc7",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Ding fries are done",
        "mode": "link",
        "links": [
            "8c8fae70037e1c26"
        ],
        "x": 445,
        "y": 2480,
        "wires": []
    },
    {
        "id": "b139a3ab9696d743",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Send all the resets",
        "info": "",
        "x": 580,
        "y": 2460,
        "wires": []
    },
    {
        "id": "0ff21611a0176572",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "TODO - Reset GUI",
        "info": "",
        "x": 580,
        "y": 2500,
        "wires": []
    },
    {
        "id": "d56b2c69ab7a5b19",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "MVP Step 6 - Receive a laser / ball hit, decrease FS",
        "info": "",
        "x": 270,
        "y": 2940,
        "wires": []
    },
    {
        "id": "094553d279219043",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "name": "MVP Step 7 - Spread Path Lighting Controls",
        "info": "",
        "x": 230,
        "y": 3480,
        "wires": []
    },
    {
        "id": "90051ad270b2f765",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "name": "MVP Step 8 - Phase 2",
        "info": "",
        "x": 200,
        "y": 3780,
        "wires": []
    },
    {
        "id": "28af28cc8618a072",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "name": "[not-so-]MVP Step 9 - Endgame",
        "info": "",
        "x": 230,
        "y": 4060,
        "wires": []
    },
    {
        "id": "c71621e5f8d62525",
        "type": "mqtt in",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "",
        "topic": "edgenode/laserhit/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc90be16040a7d21",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 3240,
        "wires": [
            [
                "a43cfe8c60aa1766",
                "b92ea91a45968087"
            ]
        ]
    },
    {
        "id": "3324776758a34ef8",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "Convert to callback formats - BALL",
        "func": "/* \nExample input BALL:\nobject\nnum_drops: 1\ntimestamp: 637739\nBUILDING_NAME: \"LBM\"\nside_id: 1\n\nDesired outputs for callback: \npayload.bldg, payload.newAddlWaterQty\n*/ \n\n//--- Basic variables \nvar input = msg.payload;\nvar nodeid = input.BUILDING_NAME; \nvar numHits = input.num_drops;  \nmsg.payload = {};\nnode.warn\n\n\n//--- FS update callback outputs\nmsg.payload.bldg = nodeid;\nmsg.payload.newAddlWaterQty = numHits;\n\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 3060,
        "wires": [
            [
                "3ddb4866a6ecb8fe"
            ]
        ]
    },
    {
        "id": "14d53b51ae10a6d7",
        "type": "inject",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "Fake laser MQTT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "edgenode/laserhit/RTO",
        "payload": "{\"node_id\":\"RTO\",\"num_hits\":1,\"timestamp\":1234567890}",
        "payloadType": "json",
        "x": 280,
        "y": 3320,
        "wires": [
            [
                "b92ea91a45968087"
            ]
        ],
        "info": "Example input: \r\n{\r\n    \"node_id\":\"LTO\",\r\n    \"num_hits\":5, \r\n    \"timestamp\":1234567890\r\n}"
    },
    {
        "id": "691a5afc5b52b78a",
        "type": "link in",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Just end it (in)",
        "links": [
            "0e3ebf9316c50718"
        ],
        "x": 125,
        "y": 2440,
        "wires": [
            [
                "da8215e65b543ef9"
            ]
        ]
    },
    {
        "id": "da290e77a88988a7",
        "type": "link in",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "Laser Hit Inject",
        "links": [
            "8b81919795d67036"
        ],
        "x": 345,
        "y": 3120,
        "wires": [
            [
                "3324776758a34ef8"
            ]
        ]
    },
    {
        "id": "3ddb4866a6ecb8fe",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "Laser been hit",
        "mode": "link",
        "links": [
            "ab46c7d25d3bb74b"
        ],
        "x": 875,
        "y": 3140,
        "wires": []
    },
    {
        "id": "250504d69a42ec07",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "To callback",
        "info": "",
        "x": 940,
        "y": 3100,
        "wires": []
    },
    {
        "id": "a43cfe8c60aa1766",
        "type": "debug",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "db received laser hit",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 3220,
        "wires": []
    },
    {
        "id": "95c484054d952cb6",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "Set Light 1 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/lighton/\"+node_id;\nmsg.payload = \"{ \\\"whichLight\\\": 1 }\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "17966a2f1dd06930"
            ]
        ]
    },
    {
        "id": "17966a2f1dd06930",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "3697150f5332d13d",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "Set Light 2 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/lighton/\"+node_id;\nmsg.payload = \"{ \\\"whichLight\\\": 2 }\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            [
                "822ce164ff689dfc"
            ]
        ]
    },
    {
        "id": "822ce164ff689dfc",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "f5a74fe1d67dc764",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "MVP Step 1 - Light Off all Bldgs",
        "info": "",
        "x": 190,
        "y": 540,
        "wires": []
    },
    {
        "id": "54b84dae77542449",
        "type": "ui_button",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "",
        "group": "7c1e7786ce952a5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Turn off Bldgs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "108daae7a312a34f"
            ]
        ]
    },
    {
        "id": "7156e130265428bd",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "a802cc1f90bd41ea",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "Set Light 0 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/lightoff/\"+node_id;\nmsg.payload = \"{ \\\"whichLight\\\":0 }\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "7156e130265428bd"
            ]
        ]
    },
    {
        "id": "108daae7a312a34f",
        "type": "loop",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "[\"RTO\",\"RBO\",\"RTM\",\"RBM\",\"RTI\",\"RBI\",\"LBI\",\"LTI\",\"LBM\",\"LTM\",\"LBO\",\"LTO\"]",
        "enumerationType": "json",
        "limit": "",
        "loopPayload": "loop-val",
        "finalPayload": "final-count",
        "x": 470,
        "y": 580,
        "wires": [
            [],
            [
                "a802cc1f90bd41ea",
                "e05f3a75274f8b73",
                "bdb38005806f60c4",
                "19ec3afca86d1046"
            ]
        ]
    },
    {
        "id": "bdb38005806f60c4",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "Set Gutter MQTT msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/updatepixels/\"+node_id;\nmsg.payload = \"{ \\\"whichLeds\\\":0, \" +\n    \"\\\"pixels\\\": \\\"000000000000000000000000000000\\\"\" +\n    \"}\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 780,
        "wires": [
            [
                "916452b345ae29e0",
                "7690e8c04058fd38"
            ]
        ]
    },
    {
        "id": "916452b345ae29e0",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "e05f3a75274f8b73",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "Set Light 1 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/lightoff/\"+node_id;\nmsg.payload = \"{ \\\"whichLight\\\": 1 }\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "d3c4d73421b078d1"
            ]
        ]
    },
    {
        "id": "d3c4d73421b078d1",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "19ec3afca86d1046",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "Set Light 2 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/lightoff/\"+node_id;\nmsg.payload = \"{ \\\"whichLight\\\": 2 }\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 740,
        "wires": [
            [
                "7bd8a304b7ed99cb"
            ]
        ]
    },
    {
        "id": "7bd8a304b7ed99cb",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "4eb1999fbc3aab57",
        "type": "mqtt out",
        "z": "55a762ae72fa441b",
        "g": "18778eda46bd5b07",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5903df706bf17bf9",
        "type": "delay",
        "z": "55a762ae72fa441b",
        "g": "6a070793fb470a03",
        "name": "",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "b52637f4da03c425"
            ]
        ]
    },
    {
        "id": "7690e8c04058fd38",
        "type": "delay",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "108daae7a312a34f"
            ]
        ]
    },
    {
        "id": "da02d40547f5f97a",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "4a4f80625f8ea163",
        "name": "We just reset",
        "mode": "link",
        "links": [
            "48373ebe740e92b6"
        ],
        "x": 1535,
        "y": 160,
        "wires": []
    },
    {
        "id": "f2be5d92f9656966",
        "type": "comment",
        "z": "55a762ae72fa441b",
        "g": "4a4f80625f8ea163",
        "name": "Go to turn all off",
        "info": "",
        "x": 1580,
        "y": 120,
        "wires": []
    },
    {
        "id": "48373ebe740e92b6",
        "type": "link in",
        "z": "55a762ae72fa441b",
        "g": "378995858571b39f",
        "name": "someone wants to turn me off",
        "links": [
            "da02d40547f5f97a"
        ],
        "x": 85,
        "y": 580,
        "wires": [
            [
                "54b84dae77542449"
            ]
        ]
    },
    {
        "id": "45e70a9ad7899e4d",
        "type": "debug",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "db bldg1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2040,
        "wires": []
    },
    {
        "id": "9cbdb9d52fe7cf9a",
        "type": "debug",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "db bldg2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2120,
        "wires": []
    },
    {
        "id": "03cc0a5688f63569",
        "type": "mqtt in",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "",
        "topic": "edgenode/balldrop/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc90be16040a7d21",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 3020,
        "wires": [
            [
                "8b9f85415994242a",
                "3324776758a34ef8"
            ]
        ]
    },
    {
        "id": "8b9f85415994242a",
        "type": "debug",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "db received ball",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 3000,
        "wires": []
    },
    {
        "id": "81525ae27ca9e82c",
        "type": "inject",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "Fake ball MQTT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"num_drops\":1,\"timestamp\":10356098,\"BUILDING_NAME\":\"LBI\",\"side_id\":0}",
        "payloadType": "json",
        "x": 280,
        "y": 3080,
        "wires": [
            [
                "3324776758a34ef8"
            ]
        ]
    },
    {
        "id": "9bc5be050fadf6b6",
        "type": "link out",
        "z": "55a762ae72fa441b",
        "g": "6a8702296ddd22a1",
        "name": "Send reset MQTT",
        "mode": "link",
        "links": [
            "1b55865e8e16d405"
        ],
        "x": 445,
        "y": 2520,
        "wires": []
    },
    {
        "id": "b92ea91a45968087",
        "type": "function",
        "z": "55a762ae72fa441b",
        "g": "b2c04e106e7697f0",
        "name": "Convert to callback formats - LASER",
        "func": "/* \nExample input LASER:\n{\n  \"num_hits\": 1,\n  \"timestamp\": 415775,\n  \"timestamp\": 416493,\n  \"BUILDING_NAME\": \"LBM\",\n  \"side_id\": 1\n}\n\n\nDesired outputs for callback: \npayload.bldg, payload.newAddlWaterQty\n*/ \n\n//--- Basic variables \nvar input = msg.payload;\nvar nodeid = input.BUILDING_NAME; \nvar numHits = input.num_hits;  \nmsg.payload = {};\nnode.warn\n\n\n//--- FS update callback outputs\nmsg.payload.bldg = nodeid;\nmsg.payload.newAddlWaterQty = numHits;\n\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 3280,
        "wires": [
            [
                "3ddb4866a6ecb8fe"
            ]
        ]
    },
    {
        "id": "7a5f520857017bbb",
        "type": "mqtt in",
        "z": "47c0e0ae667846a9",
        "g": "0d233ae99a4c6065",
        "name": "",
        "topic": "edgenode/laserconfig/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc90be16040a7d21",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "70c149ec65fb102c"
            ]
        ]
    },
    {
        "id": "70c149ec65fb102c",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "g": "0d233ae99a4c6065",
        "group": "9b0778b1ab30b93e",
        "order": 1,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "Latest Debug Msg",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "5f3e0a85eea68705",
        "type": "comment",
        "z": "47c0e0ae667846a9",
        "g": "0d233ae99a4c6065",
        "name": "Receive edgenode/laserconfig, parse, display",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "6c36dbfe44cb036b",
        "type": "comment",
        "z": "47c0e0ae667846a9",
        "name": "Receive heartbeat, parse, display",
        "info": "",
        "x": 1070,
        "y": 60,
        "wires": []
    },
    {
        "id": "35860ad47d848928",
        "type": "mqtt in",
        "z": "47c0e0ae667846a9",
        "name": "",
        "topic": "edgenode/heartbeat/LBM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc90be16040a7d21",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "666ddc2d1f9ad272",
                "9e2f4acaa87727e5",
                "98bdf92b14ea3f17",
                "d9f0243f09640174",
                "039c7e87a2f1695e",
                "f82ff874bcc830f9",
                "415dbe1befaea27f",
                "f26ed7948bc91a86",
                "99040e5844332efe"
            ]
        ]
    },
    {
        "id": "666ddc2d1f9ad272",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 2,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "Timestamp:",
        "format": "{{msg.payload.timestamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1370,
        "y": 140,
        "wires": []
    },
    {
        "id": "62457075fe8acc34",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 1,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "LBM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "9e2f4acaa87727e5",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 3,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "UUID:",
        "format": "{{msg.payload.uuid}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "98bdf92b14ea3f17",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 4,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "bldg:",
        "format": "{{msg.payload.bldg}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 220,
        "wires": []
    },
    {
        "id": "d9f0243f09640174",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 5,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "IP Address:",
        "format": "{{msg.payload.ip_address}}",
        "layout": "row-spread",
        "className": "",
        "x": 1370,
        "y": 260,
        "wires": []
    },
    {
        "id": "0e16be23a79edb49",
        "type": "ui_slider",
        "z": "47c0e0ae667846a9",
        "g": "aa7cdd8f3125703c",
        "name": "",
        "label": "Laser Diff (default: 500)",
        "tooltip": "",
        "group": "9b0778b1ab30b93e",
        "order": 1,
        "width": "10",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "100",
        "max": "3000",
        "step": "10",
        "className": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "39d591f75ab6581f"
            ]
        ]
    },
    {
        "id": "af913b1474ed43d9",
        "type": "comment",
        "z": "47c0e0ae667846a9",
        "g": "aa7cdd8f3125703c",
        "name": "Update LaserDiff",
        "info": "",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "4f65e1b1c3249fbc",
        "type": "mqtt out",
        "z": "47c0e0ae667846a9",
        "g": "aa7cdd8f3125703c",
        "name": "",
        "topic": "nodered/laserdiff",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "39d591f75ab6581f",
        "type": "change",
        "z": "47c0e0ae667846a9",
        "g": "aa7cdd8f3125703c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DETECTOR_DIFF",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "4f65e1b1c3249fbc",
                "6e6816ac951a5c0f"
            ]
        ]
    },
    {
        "id": "6e6816ac951a5c0f",
        "type": "debug",
        "z": "47c0e0ae667846a9",
        "g": "aa7cdd8f3125703c",
        "name": "attempt at mqtt json magic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "f82ff874bcc830f9",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 5,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "Heater_on:",
        "format": "{{msg.payload.ip_address}}",
        "layout": "row-spread",
        "className": "",
        "x": 1370,
        "y": 340,
        "wires": []
    },
    {
        "id": "415dbe1befaea27f",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 5,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "Latest_diff (laser):",
        "format": "{{msg.payload.latest_diff}}",
        "layout": "row-spread",
        "className": "",
        "x": 1390,
        "y": 380,
        "wires": []
    },
    {
        "id": "039c7e87a2f1695e",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 5,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "index (?):",
        "format": "{{msg.payload.index}}",
        "layout": "row-spread",
        "className": "",
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "f26ed7948bc91a86",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 5,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "Latest_triggered_diff (laser):",
        "format": "{{msg.payload.latest_triggered_diff}}",
        "layout": "row-spread",
        "className": "",
        "x": 1420,
        "y": 420,
        "wires": []
    },
    {
        "id": "99040e5844332efe",
        "type": "ui_text",
        "z": "47c0e0ae667846a9",
        "group": "8ab51318efc44d27",
        "order": 5,
        "width": "10",
        "height": "1",
        "name": "",
        "label": "MEM:",
        "format": "{{msg.payload.mem}}",
        "layout": "row-spread",
        "className": "",
        "x": 1350,
        "y": 460,
        "wires": []
    },
    {
        "id": "1c589feac1f746b9",
        "type": "comment",
        "z": "47c0e0ae667846a9",
        "name": "COPY THIS OUT FOR ALL NODES",
        "info": "",
        "x": 1160,
        "y": 580,
        "wires": []
    },
    {
        "id": "13b29febb8e2b3e9",
        "type": "comment",
        "z": "47c0e0ae667846a9",
        "g": "3a81c46c8f3762a2",
        "name": "Reset Match / Laser",
        "info": "",
        "x": 150,
        "y": 420,
        "wires": []
    },
    {
        "id": "042587d56aedd796",
        "type": "mqtt out",
        "z": "47c0e0ae667846a9",
        "g": "3a81c46c8f3762a2",
        "name": "",
        "topic": "nodered/reset/match",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "478145ccd1cc1b6c",
        "type": "change",
        "z": "47c0e0ae667846a9",
        "g": "3a81c46c8f3762a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "042587d56aedd796"
            ]
        ]
    },
    {
        "id": "1c1fbdd28c2c806b",
        "type": "ui_button",
        "z": "47c0e0ae667846a9",
        "g": "3a81c46c8f3762a2",
        "name": "",
        "group": "062c9dae52b8ca4a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Lasers",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "478145ccd1cc1b6c"
            ]
        ]
    },
    {
        "id": "1b55865e8e16d405",
        "type": "link in",
        "z": "47c0e0ae667846a9",
        "g": "3a81c46c8f3762a2",
        "name": "Resettin' time",
        "links": [
            "9bc5be050fadf6b6"
        ],
        "x": 125,
        "y": 460,
        "wires": [
            [
                "1c1fbdd28c2c806b"
            ]
        ]
    },
    {
        "id": "0bb4f2dd1a0c4bda",
        "type": "comment",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "Main Table",
        "info": "",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "8ddea564d172bf3f",
        "type": "ui_table",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "group": "ee9886ff6322a456",
        "name": "Bldg Statuses",
        "order": 6,
        "width": 10,
        "height": 7,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "171f62c6c1563726",
        "type": "function",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "Build Default Table Array",
        "func": "//vars \nvar bldgs = [\"RTO\", \"RBO\", \"RTM\", \"RBM\", \"RTI\", \"RBI\", \"LBO\", \"LTO\", \"LBM\", \"LTM\", \"LBI\", \"LTI\"];\nvar theArr = [];\n\n// do the loop, get the globals\nfor (var i=0; i < bldgs.length; i++) { \n    theArr.push({\n        \"Bldg\": bldgs[i],\n        \"Status\": global.get(bldgs[i]+\".Status\"),\n        \"Win1\": global.get(bldgs[i] + \".FS.Window1-AfterWater\"),\n        \"Win2\": global.get(bldgs[i] + \".FS.Window2-AfterWater\"),\n        \"WaterQty\": global.get(bldgs[i] + \".WaterQty\"),\n    });\n}\n//node.warn(theArr);\n\n//fin\nmsg.payload = theArr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "8ddea564d172bf3f"
            ]
        ]
    },
    {
        "id": "05cbae4faf594123",
        "type": "ui_table",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "group": "ee9886ff6322a456",
        "name": "GutterPixels",
        "order": 7,
        "width": 10,
        "height": 7,
        "columns": [
            {
                "field": "Bldg",
                "title": "Bldg",
                "width": "20%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "GutterPixels",
                "title": "GutterPixels",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "deaae49be7b573b0",
        "type": "function",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "Build Default Table Array",
        "func": "//vars \nvar bldgs = [\"RTO\", \"RBO\", \"RTM\", \"RBM\", \"RTI\", \"RBI\", \"LBO\", \"LTO\", \"LBM\", \"LTM\", \"LBI\", \"LTI\"];\nvar theArr = [];\n\n// do the loop, get the globals\nfor (var i=0; i < bldgs.length; i++) { \n    theArr.push({\n        \"Bldg\": bldgs[i],\n        \"GutterPixels\": global.get(bldgs[i]+\".GutterPixels\")\n    });\n}\n//node.warn(theArr);\n\n//fin\nmsg.payload = theArr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "05cbae4faf594123"
            ]
        ]
    },
    {
        "id": "892376e5bd117bc9",
        "type": "ui_button",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "",
        "group": "ee9886ff6322a456",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "171f62c6c1563726",
                "deaae49be7b573b0"
            ]
        ]
    },
    {
        "id": "318fd2d140ad472a",
        "type": "trigger",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "892376e5bd117bc9"
            ]
        ]
    },
    {
        "id": "09e1bb987f6fc783",
        "type": "ui_switch",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "",
        "label": "Auto-Refresh",
        "tooltip": "",
        "group": "ee9886ff6322a456",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "318fd2d140ad472a"
            ]
        ]
    },
    {
        "id": "c5d69c3b0f5e30ee",
        "type": "ui_button",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "",
        "group": "3e7886cb7c605213",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "RESET ALL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "0e3ebf9316c50718"
            ]
        ]
    },
    {
        "id": "0e3ebf9316c50718",
        "type": "link out",
        "z": "175af8efcea2d591",
        "g": "2ac942eccf98a996",
        "name": "JUST END IT",
        "mode": "link",
        "links": [
            "691a5afc5b52b78a"
        ],
        "x": 365,
        "y": 160,
        "wires": []
    },
    {
        "id": "412dda5307ab23bc",
        "type": "function",
        "z": "175af8efcea2d591",
        "name": "Set Window 1 FS",
        "func": "// Vars\nmsg.payload = {};\n\n// Set up params for callback node\nmsg.payload.bldg = \"LBI\";\nmsg.payload.window = 1;\nmsg.payload.numFire = 8;\n\n// Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 720,
        "wires": [
            [
                "3fbcebb8a982c031"
            ]
        ]
    },
    {
        "id": "11d191fddb70f4cf",
        "type": "function",
        "z": "175af8efcea2d591",
        "name": "Set Window 2 FS",
        "func": "// Vars\nmsg.payload = {};\n\n// Set up params for callback node\nmsg.payload.bldg = \"LBI\";\nmsg.payload.window = 2;\nmsg.payload.numFire = 8;\n\n// Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 760,
        "wires": [
            [
                "3fbcebb8a982c031"
            ]
        ]
    },
    {
        "id": "25bdc69949d0b152",
        "type": "comment",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "Manual Injects for Testing",
        "info": "",
        "x": 230,
        "y": 660,
        "wires": []
    },
    {
        "id": "b3329dfa95503c2c",
        "type": "ui_button",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "",
        "group": "3e7886cb7c605213",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "Set LBM to Max FS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "2d07da5341cf14ee",
                "b8f41ef7533e00c1"
            ]
        ]
    },
    {
        "id": "1a9410ac2442e363",
        "type": "link out",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "Manual set Max FS",
        "mode": "link",
        "links": [
            "0416ea6909311b42"
        ],
        "x": 645,
        "y": 740,
        "wires": []
    },
    {
        "id": "2d07da5341cf14ee",
        "type": "function",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "Set Window 1 FS",
        "func": "// Vars\nmsg.payload = {};\n\n// Set up params for callback node\nmsg.payload.bldg = \"LBM\";\nmsg.payload.window = 1;\nmsg.payload.numFire = 8;\n\n// Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            [
                "1a9410ac2442e363"
            ]
        ]
    },
    {
        "id": "b8f41ef7533e00c1",
        "type": "function",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "Set Window 2 FS",
        "func": "// Vars\nmsg.payload = {};\n\n// Set up params for callback node\nmsg.payload.bldg = \"LBM\";\nmsg.payload.window = 2;\nmsg.payload.numFire = 8;\n\n// Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 760,
        "wires": [
            [
                "1a9410ac2442e363"
            ]
        ]
    },
    {
        "id": "811f25a4a4480bf7",
        "type": "ui_button",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "",
        "group": "3e7886cb7c605213",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "Send 2 Lasers to LBM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "d775d38173b3593c"
            ]
        ]
    },
    {
        "id": "d775d38173b3593c",
        "type": "function",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "Set 2 hits",
        "func": "/* \nExample input: \n{\n    \"node_id\":\"LTO\",\n    \"num_hits\":5, \n    \"timestamp\":1234567890\n}\n*/ \n// Vars\nmsg.payload = {};\n\n// Set up messages that emulate the MQTT message\nmsg.payload.node_id = \"LBM\";\nmsg.payload.num_hits = 2;\nmsg.payload.timestamp = 1234567890;\n\n// Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 860,
        "wires": [
            [
                "8b81919795d67036"
            ]
        ]
    },
    {
        "id": "8b81919795d67036",
        "type": "link out",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "Manual Send Lasers",
        "mode": "link",
        "links": [
            "da290e77a88988a7"
        ],
        "x": 645,
        "y": 860,
        "wires": []
    },
    {
        "id": "3014efb296f50a70",
        "type": "ui_button",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "",
        "group": "3e7886cb7c605213",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "Set LBI to Max FS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 740,
        "wires": [
            [
                "412dda5307ab23bc",
                "11d191fddb70f4cf"
            ]
        ]
    },
    {
        "id": "3fbcebb8a982c031",
        "type": "link out",
        "z": "175af8efcea2d591",
        "g": "77bdfe65956919ec",
        "name": "Manual set Max FS",
        "mode": "link",
        "links": [
            "0416ea6909311b42"
        ],
        "x": 1295,
        "y": 740,
        "wires": []
    },
    {
        "id": "0416ea6909311b42",
        "type": "link in",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Update FS",
        "links": [
            "71df01656749e372",
            "42fbeec64825d3a1",
            "c612b81a64bb9759",
            "b4f3a4589cdc9edf",
            "d0e47829bbab10d2",
            "6f5b0006051e39ef",
            "41518b531082b3d7",
            "1a9410ac2442e363",
            "0cfa25e363535ffd",
            "ed138ca6db856899",
            "7e1e1ed2c52487f5",
            "3fbcebb8a982c031"
        ],
        "x": 145,
        "y": 240,
        "wires": [
            [
                "8078387b8154fc28",
                "085de4503ad6ec20"
            ]
        ]
    },
    {
        "id": "187c6afe9262807c",
        "type": "comment",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Update FS BEFORE WATER\\n payload.bldg, payload.window, payload.numFire",
        "info": "",
        "x": 280,
        "y": 120,
        "wires": []
    },
    {
        "id": "8078387b8154fc28",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Update Window Global",
        "func": "//--- Basic variables\nvar input = msg.payload;\nvar theBldg = msg.payload.bldg;\nvar theWin = msg.payload.window;\nvar theFS = msg.payload.numFire;\n\n//--- Update Global Variables\nvar theGlobalString = theBldg + \".FS.Window\" + theWin + \"-BeforeWater\";\nglobal.set(theGlobalString,theFS);\n\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "dda9a78374edd0d2"
            ]
        ]
    },
    {
        "id": "5acfacf7a05cc895",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Update GutterPixels Global - Requires AfterWater String",
        "func": "/* \nGutter is built with 30 pixels\n[0-7]   = Window 1 FS\n[8-9]   = Blank (spacer)\n[10-19] = Status\n[20-21] = Blank (spacer)\n[22-29] = Window 2 FS\n\nColor wheel:\n0 = OFF\n1 = RED\n2 = ORANGE\n3 = YELLOW\n4 = GREEN\n5 = BLUE\n6 = PURPLE\n^^ Don't forget to make these a string, not an int\n*/ \n\n//--- Basic variables\nvar input = msg.payload;\nvar theBldg = msg.payload.bldg;\nvar theWin = msg.payload.window;\n\n// --FS is no longer a basic variable, since you'll have to depend on VISIBLE (after Water) fire\nvar theFS = global.get(theBldg+\".FS.Window\" + theWin + \"-AfterWater\");\n\n//--- Get current gutterpixels, delete the relevant window's substring \n//string.substring(indexStart, indexEnd)\nvar curPixelString = global.get(theBldg + \".GutterPixels\");\nif (theWin == 1) {\n    var stringMinusWindow = curPixelString.substring(8, 30); //will want to check off-by-one issues\n    var theColor = \"3\"; // YELLOW\n} else if (theWin == 2) {\n    var stringMinusWindow = curPixelString.substring(0, 22); //will want to check off-by-one issues\n    var theColor = \"4\"; // RED\n}\n//node.warn(stringMinusWindow);\n\n//--- Build the new window's string\nvar newWindowString = \"\";\n//-- Add 1's up to the FS, then 0's after that to only light up the FS pixels\n// off-by-one _should_ work out alright? \n// also js shorthand woo https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator\nfor (let i=0; i<8; i++) {\n    newWindowString += i<theFS ? theColor : \"0\"; \n}\n\n//--- Combino preparo \n//node.warn(newWindowString);\n//node.warn(stringMinusWindow);\nif (theWin == 1) {\n    var newPixelString = newWindowString + stringMinusWindow; \n} else if (theWin == 2) {\n    var newPixelString = stringMinusWindow + newWindowString;\n}\n\n//--- Fin\nglobal.set(theBldg + \".GutterPixels\", newPixelString);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "926f27b7e8249ddb"
            ]
        ]
    },
    {
        "id": "926f27b7e8249ddb",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Build MQTT Msg for Gutter",
        "func": "/*\n---- WILL NEED TO UPDATE ONCE WE KNOW HOW \"WHICHLEDS\" WORKS ---\n\nmsg1.topic = \"nodered/updategutter/full/\" + theBldgs[0];\nmsg1.payload = \"{ \\\"color\\\":\\\"FFFF00\\\" }\";\n\n*/ \n\n//--- Basic variables\nvar input = msg.payload;\nvar node_id = msg.payload.bldg;\nvar theGutter = 0; //-=-=-=-==-=\n\n\n//--- Set up MQTT message\nvar gutterString = global.get(node_id + \".GutterPixels\");\n//var gutterString = \"333333333333333333333333333333\";\nmsg.topic = \"nodered/updatepixels/\" + node_id;\nmsg.payload = \"{ \\\"whichLeds\\\":\" + theGutter + \", \" +\n    \"\\\"pixels\\\": \\\"\" + gutterString + \"\\\"\" +\n    \"}\";\n//node.warn(msg);\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 280,
        "wires": [
            [
                "5f0bcff5c4ed6ec4"
            ]
        ]
    },
    {
        "id": "ed2d399b29970928",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Build MQTT Msg for Window",
        "func": "//--- Basic variables\nvar input = msg.payload;\nvar node_id = msg.payload.bldg;\nvar theWin = msg.payload.window;\n\nvar theFS = global.get(node_id + \".FS.Window\" + theWin + \"-AfterWater\");\n\n//--- Build MQTT message\nif (theFS > 0) {\n    msg.topic = \"nodered/lighton/\" + node_id;\n} else if (theFS == 0) {\n    msg.topic = \"nodered/lightoff/\" + node_id;\n}\nmsg.payload = \"{ \\\"whichLight\\\":\" + theWin + \"}\"\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 360,
        "wires": [
            [
                "f986ab9711daf36b"
            ]
        ]
    },
    {
        "id": "5f0bcff5c4ed6ec4",
        "type": "mqtt out",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 1460,
        "y": 280,
        "wires": []
    },
    {
        "id": "f986ab9711daf36b",
        "type": "mqtt out",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 1460,
        "y": 360,
        "wires": []
    },
    {
        "id": "d052e342e40320b9",
        "type": "inject",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Set LBI Window 1 FS to 4",
        "props": [
            {
                "p": "payload.bldg",
                "v": "\"LBI\"",
                "vt": "str"
            },
            {
                "p": "payload.window",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload.numFire",
                "v": "4",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "71df01656749e372"
            ]
        ]
    },
    {
        "id": "71df01656749e372",
        "type": "link out",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Test FS updater 4",
        "mode": "link",
        "links": [
            "0416ea6909311b42",
            "772defe5dc3f1eb0"
        ],
        "x": 415,
        "y": 440,
        "wires": []
    },
    {
        "id": "dd8828fab2dad33c",
        "type": "inject",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Set LBI Window 1 FS to 0",
        "props": [
            {
                "p": "payload.bldg",
                "v": "\"RTO\"",
                "vt": "str"
            },
            {
                "p": "payload.window",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload.numFire",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 480,
        "wires": [
            [
                "42fbeec64825d3a1"
            ]
        ]
    },
    {
        "id": "42fbeec64825d3a1",
        "type": "link out",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Test FS updater 4",
        "mode": "link",
        "links": [
            "0416ea6909311b42",
            "772defe5dc3f1eb0"
        ],
        "x": 415,
        "y": 480,
        "wires": []
    },
    {
        "id": "4de1de66baa1bdcf",
        "type": "comment",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Test Injects",
        "info": "",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "085de4503ad6ec20",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Update Status Global",
        "func": "//--- Basic variables\nvar input = msg.payload;\nvar node_id = msg.payload.bldg;\nvar theWin = msg.payload.window;\nvar theFS = msg.payload.numFire;\n\n//--- Build MQTT message\nif (theFS > 0) {\n    global.set(node_id+\".Status\", \"Burning\");\n} else if (theFS == 0) {\n    global.set(node_id + \".Status\", \"Cleared\");\n}\n\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7138aeefb2263d68",
        "type": "comment",
        "z": "f6f035102302ba5a",
        "g": "5f1037ebc6dbd72f",
        "name": "Update GutterPixels \\n payload.bldg, payload.pixelstring",
        "info": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "f8afe1542a91baa2",
        "type": "link in",
        "z": "f6f035102302ba5a",
        "g": "5f1037ebc6dbd72f",
        "name": "Update GutterPixels",
        "links": [
            "ae0759e01e0881af"
        ],
        "x": 165,
        "y": 680,
        "wires": [
            [
                "f976aafaf0f9a3c1"
            ]
        ]
    },
    {
        "id": "f976aafaf0f9a3c1",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "5f1037ebc6dbd72f",
        "name": "Update GutterPixels Global",
        "func": "/* \nGutter is built with 30 pixels\n[0-7]   = Window 1 FS\n[8-9]   = Blank (spacer)\n[10-19] = Status\n[20-21] = Blank (spacer)\n[22-29] = Window 2 FS\n*/ \n\n//--- Basic variables\nvar input = msg.payload;\nvar theBldg = input.bldg;\nvar theString = input.pixelstring;\n\n//--- Update global\nglobal.set(theBldg + \".GutterPixels\", theString);\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 680,
        "wires": [
            [
                "2d3d077a6a33a90f"
            ]
        ]
    },
    {
        "id": "2d3d077a6a33a90f",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "5f1037ebc6dbd72f",
        "name": "Build MQTT Msg for Gutter",
        "func": "/*\n---- WILL NEED TO UPDATE ONCE WE KNOW HOW \"WHICHLEDS\" WORKS ---\n*/ \n\n//--- Basic variables\nvar input = msg.payload;\nvar node_id = input.bldg;\nvar theGutter = 0; //-=-=-===--==\n\n//--- Set up MQTT message\nvar gutterString = global.get(node_id + \".GutterPixels\");\nmsg.topic = \"nodered/updatepixels/\" + node_id;\nmsg.payload = \"{ \\\"whichLeds\\\":\" + theGutter + \", \" +\n    \"\\\"pixels\\\": \\\"\" + gutterString + \"\\\"\" +\n    \"}\";\n//{   \"whichLeds\":0,   \"pixels\":\"111111111111111444444444444444\" }\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "19c221d99629ee7a"
            ]
        ]
    },
    {
        "id": "19c221d99629ee7a",
        "type": "mqtt out",
        "z": "f6f035102302ba5a",
        "g": "5f1037ebc6dbd72f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "42500fdf3edadd8f",
        "type": "comment",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "Update WaterQty\\n payload.bldg, payload.newAddlWaterQty",
        "info": "",
        "x": 260,
        "y": 860,
        "wires": []
    },
    {
        "id": "ab46c7d25d3bb74b",
        "type": "link in",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "Update Water Qty",
        "links": [
            "3ddb4866a6ecb8fe"
        ],
        "x": 165,
        "y": 1020,
        "wires": [
            [
                "64807321f86b9125"
            ]
        ]
    },
    {
        "id": "570cc8a3dd014038",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "Update WaterQty, prep new FS",
        "func": "/* \nExample input: \nmsg.payload.bldg = \"RTO\";\nmsg.payload.newAddlWaterQty = 3;\n*/ \n\n//--- Basic variables \nvar input = msg.payload;\nvar nodeid = input.bldg;\nvar newWater = input.newAddlWaterQty;\nvar msg1 = {};\nmsg1.payload = {};\nvar msg2 = {};\nmsg2.payload = {};\n\n//--- Get the globals\nvar win1_FS_pre = global.get(nodeid + \".FS.Window1-BeforeWater\");\nvar win2_FS_pre = global.get(nodeid + \".FS.Window2-BeforeWater\");\n\n//--- Do some quick water math\nvar curWaterQty = global.get(nodeid + \".WaterQty\");\nvar newWaterQty = curWaterQty + newWater;\nglobal.set(nodeid + \".WaterQty\", newWaterQty);\n\n//-----------\n//--- HOW MANY WATERS PER PIXEL / FS / BLIP ? \n// ---- Technically, in the manual, it is 4x for water drop balls, 2x for lasers\n//-----------\nswitch(nodeid) {\n    //laser\n    case \"LBO\":\n    case \"LTM\":\n    case \"LBM\":\n    case \"RTO\":\n    case \"RBM\":\n    case \"RTM\":\n        var WATER_PER_FS = 2;\n\n    //balls\n    case \"RTO\":\n    case \"RTI\":\n    case \"RBI\":\n    case \"RBO\":\n    case \"RBI\":\n    case \"RTI\":\n        var WATER_PER_FS = 4;\n}\nvar MAX_POSS_FS = 8;\n\n//--- Take the \"before Water\" FS's, and bang em against the water, and get new \"after Water\" FS's\nvar impactToFS = Math.floor(newWaterQty / WATER_PER_FS);\nnode.warn(impactToFS);\nvar the_FS_thats_left = (win1_FS_pre + win2_FS_pre) - impactToFS; \nnode.warn(\"theleft\");\nnode.warn(the_FS_thats_left);\nif (the_FS_thats_left > MAX_POSS_FS) { \n    var win1_FS_post = MAX_POSS_FS;\n    var win2_FS_post = the_FS_thats_left - MAX_POSS_FS;\n} else { \n    var win1_FS_post = the_FS_thats_left;\n    var win2_FS_post = 0;\n}\nnode.warn(win1_FS_post);\nnode.warn(win2_FS_post);\n\n//--- Prep FS update callback\n//payload.bldg, payload.window, payload.numFire\nmsg1.payload.bldg = nodeid;\nmsg1.payload.window = 1;\nmsg1.payload.numFire = win1_FS_post;\n\nmsg2.payload.bldg = nodeid;\nmsg2.payload.window = 2;\nmsg2.payload.numFire = win2_FS_post;\n\n//rrrrrap it up\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 960,
        "wires": [
            [
                "7e1e1ed2c52487f5",
                "f4ccd769fbdd6843"
            ],
            [
                "8498c6ad0a1a8df7"
            ]
        ]
    },
    {
        "id": "7e1e1ed2c52487f5",
        "type": "link out",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "Water Hitting FS",
        "mode": "link",
        "links": [
            "0416ea6909311b42"
        ],
        "x": 1395,
        "y": 940,
        "wires": []
    },
    {
        "id": "505ee7d447687c96",
        "type": "comment",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "Send this to the FS callback\\n Delay to avoid windows stepping on each other",
        "info": "",
        "x": 1460,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8498c6ad0a1a8df7",
        "type": "delay",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1290,
        "y": 980,
        "wires": [
            [
                "7e1e1ed2c52487f5"
            ]
        ]
    },
    {
        "id": "192043bb5930e80f",
        "type": "function",
        "z": "f6f035102302ba5a",
        "d": true,
        "g": "459fe488a5804676",
        "name": "[obsolete method for this]",
        "func": "/* \nExample input: \nmsg.payload.bldg = \"RTO\";\nmsg.payload.newAddlWaterQty = 3;\n*/ \n\n//--- Basic variables \nvar input = msg.payload;\nvar nodeid = input.bldg;\nvar newWater = input.newAddlWaterQty;\nvar msg1 = {};\nmsg1.payload = {};\nvar msg2 = {};\nmsg2.payload = {};\n\n//--- Get the globals\nvar win1_FS_pre = global.get(nodeid + \".FS.Window1.BeforeWater\");\nvar win2_FS_pre = global.get(nodeid + \".FS.Window2.BeforeWater\");\n\n//--- Do some quick water math\nvar curWaterQty = global.get(nodeid + \".WaterQty\");\nvar newWaterQty = curWaterQty + newWater;\n\n//-----------\n//--- HOW MANY WATERS PER PIXEL / FS / BLIP ? \n// ---- Technically, in the manual, it is 4x for water drop balls, 2x for lasers\n//-----------\nswitch(nodeid) {\n    //laser\n    case \"LBO\":\n    case \"LTM\":\n    case \"LBM\":\n    case \"RTO\":\n    case \"RBM\":\n    case \"RTM\":\n        var WATER_PER_FS = 2;\n\n    //balls\n    case \"RTO\":\n    case \"RTI\":\n    case \"RBI\":\n    case \"RBO\":\n    case \"RBI\":\n    case \"RTI\":\n        var WATER_PER_FS = 4;\n}\nvar MAX_POSS_FS = 8;\n\n/* Example: \n- Win1FS = 8 | Win2FS = 3 | WaterQty = 2 | NewWaterQty = 12\nEnough water is dropped to drop 12 FS points (wateredDownAmt = 12)\n- 8 of this goes to window 1\n- 4 of this goes to window 2\nOtherwise, it just sticks to window 1.\n- THIS IS TRUE EVEN IF window 2 is active.\n- This is part of the \"back to basics\" gameplay.  Is it \"right\" or \"the best\"?  Probably not.. but it's easy\nANOTHER CURRENT ISSUE\n- Currently, this just tracks one master \"water amt\" \n- So theoretically, if your waterqty exceeds window1's amt, it will \"proactively\" count towards window2\n- Probably need to fix this later...\n\nalso.... this is probably way overcomplicated and the result of late night work\n\nthis iwill just need lots of testing\n*/ \nvar wateredDownAmt = Math.floor(newWaterQty / WATER_PER_FS);\n//node.warn(wateredDownAmt);\nif (wateredDownAmt >= 8) {\n    var firstWindowWater = 8;\n    var secondWindowWater = wateredDownAmt - 8;\n} else {\n    var firstWindowWater = wateredDownAmt;\n    var secondWindowWater = 0;\n}\n//node.warn(firstWindowWater);\n//node.warn(secondWindowWater);\n\n\n//--- Calc new FS's\nvar newFS_Win1 = win1_FS - (MAX_POSS_FS - firstWindowWater);\nvar newFS_Win2 = win2_FS - (MAX_POSS_FS - secondWindowWater);\n//node.warn(newFS_Win1);\n\n//--- Update globals\nglobal.set(nodeid+\".WaterQty\", newWaterQty);\n\n\n//--- Prep output for FS update callback\n//payload.bldg, payload.window, payload.numFire\nmsg1.payload.bldg = nodeid;\nmsg1.payload.window = 1;\nmsg1.payload.numFire = win1_FS > 0 ? newFS_Win1 : 0;\n\nmsg2.payload.bldg = nodeid;\nmsg2.payload.window = 2;\nmsg2.payload.numFire = win2_FS > 0 ? newFS_Win2 : 0;\n\n//--- Fin\n//return [msg1, msg2];",
        "outputs": 2,
        "noerr": 4,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 880,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f4ccd769fbdd6843",
        "type": "debug",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 920,
        "wires": []
    },
    {
        "id": "63f18a575dc37f3b",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Convert BeforeWater -> AfterWater",
        "func": "//--- Basic variables \nvar input = msg.payload;\nvar nodeid = input.bldg;\nvar msg1 = {};\nmsg1.payload = {};\nvar msg2 = {};\nmsg2.payload = {};\n\n//--- Get the globals\nvar win1_FS_pre = global.get(nodeid + \".FS.Window1-BeforeWater\");\nvar win2_FS_pre = global.get(nodeid + \".FS.Window2-BeforeWater\");\nvar theWater = global.get(nodeid + \".WaterQty\");\n\n//--- Do some quick math\nvar MAX_POSS_FS = 8;\nswitch (nodeid) {\n    //-- LASER \n    case \"LBO\":\n    case \"LTM\":\n    case \"LBM\":\n    case \"RTO\":\n    case \"RBM\":\n    case \"RTM\":\n        var WATER_PER_FS = 1; //-- LASER\n\n    //-- BALLS \n    case \"RTO\":\n    case \"RTI\":\n    case \"RBI\":\n    case \"LBO\":\n    case \"LBI\":\n    case \"LTI\":\n        var WATER_PER_FS = 2; //-- BALLS \n}\n\n//--- Take the \"before Water\" FS's, and bang em against the water, and get new \"after Water\" FS's\nvar impactToFS = Math.floor(theWater / WATER_PER_FS);\nnode.warn(impactToFS);\nvar the_FS_thats_left = (win1_FS_pre + win2_FS_pre) - impactToFS;\nnode.warn(the_FS_thats_left);\nif (the_FS_thats_left > MAX_POSS_FS) {\n    var win1_FS_post = MAX_POSS_FS;\n    var win2_FS_post = the_FS_thats_left - MAX_POSS_FS;\n} else {\n    var win1_FS_post = the_FS_thats_left;\n    var win2_FS_post = 0;\n}\n//node.warn(win1_FS_post);\n//node.warn(win2_FS_post);\n\n//--- Update de globals\nglobal.set(nodeid + \".FS.Window1-AfterWater\", win1_FS_post);\nglobal.set(nodeid + \".FS.Window2-AfterWater\", win2_FS_post);\n\n//--- Prep FS update callback\n//payload.bldg, payload.window, payload.numFire\nmsg1.payload.bldg = nodeid;\nmsg1.payload.window = 1;\nmsg1.payload.numFire = win1_FS_post;\nmsg2.payload.bldg = nodeid;\nmsg2.payload.window = 2;\nmsg2.payload.numFire = win2_FS_post;\n\n//rrrrrap it up\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 240,
        "wires": [
            [
                "5acfacf7a05cc895",
                "ed2d399b29970928"
            ],
            [
                "5acfacf7a05cc895",
                "ed2d399b29970928"
            ]
        ]
    },
    {
        "id": "64807321f86b9125",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "Update WaterQty, send to kickoff FS update",
        "func": "/* \nExample input: \nmsg.payload.bldg = \"RTO\";\nmsg.payload.newAddlWaterQty = 3;\n*/ \n\n//--- Basic variables \nvar input = msg.payload;\nvar nodeid = input.bldg;\nvar newWater = input.newAddlWaterQty;\nmsg.payload = {};\n\nnode.warn(\"addlwater\");\nnode.warn(newWater);\n\n\n//--- Do some quick water math\nvar curWaterQty = global.get(nodeid + \".WaterQty\");\ncurWaterQty = curWaterQty === undefined ? 0 : curWaterQty; // don't poison the waterhole\nvar newWaterQty = curWaterQty + newWater;\nnode.warn(newWaterQty);\nnode.warn(newWaterQty);\n\n//--- Update the gloabl\nglobal.set(nodeid + \".WaterQty\", newWaterQty);\n\n\n//--- Prep FS update callback\n// ???\nmsg.payload.bldg = nodeid;\n\n//rrrrrap it up\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "71f67f7f27cafd81"
            ]
        ]
    },
    {
        "id": "dda9a78374edd0d2",
        "type": "link out",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "To Window Washing",
        "mode": "link",
        "links": [
            "a25ecc470396a417"
        ],
        "x": 475,
        "y": 220,
        "wires": []
    },
    {
        "id": "a25ecc470396a417",
        "type": "link in",
        "z": "f6f035102302ba5a",
        "g": "284c27310b25477c",
        "name": "Time to Wash Windows",
        "links": [
            "dda9a78374edd0d2",
            "71f67f7f27cafd81"
        ],
        "x": 645,
        "y": 240,
        "wires": [
            [
                "63f18a575dc37f3b"
            ]
        ]
    },
    {
        "id": "71f67f7f27cafd81",
        "type": "link out",
        "z": "f6f035102302ba5a",
        "g": "459fe488a5804676",
        "name": "To Window Washing",
        "mode": "link",
        "links": [
            "a25ecc470396a417"
        ],
        "x": 605,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f5ac07449078a00d",
        "type": "comment",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "Update ALL BLDGS from Globals",
        "info": "",
        "x": 230,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3c85efd6b9fe4796",
        "type": "ui_button",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "",
        "group": "ee9886ff6322a456",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "Push all Bldgs to MQTT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 1280,
        "wires": [
            [
                "b497a4557843716d"
            ]
        ]
    },
    {
        "id": "7503e9afbf970c67",
        "type": "mqtt out",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 770,
        "y": 1360,
        "wires": []
    },
    {
        "id": "36c9b826c07c4844",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "Set Light 1 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nif (global.get(node_id+\"FS.Window1-AfterWater\") > 0) { \n    msg.topic = \"nodered/lighton/\"+node_id;\n} else {\n    msg.topic = \"nodered/lightoff/\"+node_id;\n}\nmsg.payload = \"{ \\\"whichLight\\\":1 }\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1360,
        "wires": [
            [
                "7503e9afbf970c67"
            ]
        ]
    },
    {
        "id": "b497a4557843716d",
        "type": "loop",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "[\"RTO\",\"RBO\",\"RTM\",\"RBM\",\"RTI\",\"RBI\",\"LBI\",\"LTI\",\"LBM\",\"LTM\",\"LBO\",\"LTO\"]",
        "enumerationType": "json",
        "limit": "",
        "loopPayload": "loop-val",
        "finalPayload": "final-count",
        "x": 530,
        "y": 1280,
        "wires": [
            [],
            [
                "36c9b826c07c4844",
                "223c3fe920a91621",
                "b019d27b1b388b63"
            ]
        ]
    },
    {
        "id": "223c3fe920a91621",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "Set Gutter MQTT msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nmsg.topic = \"nodered/updatepixels/\"+node_id;\nmsg.payload = \"{ \\\"whichLeds\\\":0, \" +\n    \"\\\"pixels\\\": \" + global.get(node_id+\".GutterPixels\") +\n    \"}\";\n\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1440,
        "wires": [
            [
                "270a5506f8851358",
                "b497a4557843716d"
            ]
        ]
    },
    {
        "id": "270a5506f8851358",
        "type": "mqtt out",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 770,
        "y": 1440,
        "wires": []
    },
    {
        "id": "b019d27b1b388b63",
        "type": "function",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "Set Light 2 MQTT Msg",
        "func": "//--- Basic variables\nvar node_id = msg.payload;\n\n//--- Set up MQTT message\nif (global.get(node_id + \"FS.Window2-AfterWater\") > 0) {\n    msg.topic = \"nodered/lighton/\" + node_id;\n} else {\n    msg.topic = \"nodered/lightoff/\" + node_id;\n}\nmsg.payload = \"{ \\\"whichLight\\\":2 }\";\n//--- Fin\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1400,
        "wires": [
            [
                "74e30c503ee7b8b0"
            ]
        ]
    },
    {
        "id": "74e30c503ee7b8b0",
        "type": "mqtt out",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc90be16040a7d21",
        "x": 770,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3f402ddd8643cce0",
        "type": "link in",
        "z": "f6f035102302ba5a",
        "g": "11a9b9cee18f6b6c",
        "name": "Update All Bldgs IN",
        "links": [
            "cb167d27c1e7d778"
        ],
        "x": 135,
        "y": 1280,
        "wires": [
            [
                "3c85efd6b9fe4796"
            ]
        ]
    }
]